.dropzone {
    border: 2px dashed #213547;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 100%;
    max-width: 24rem;
    text-align: center;
    transition: border-color 0.3s ease;
    cursor: pointer;
    position: relative;
    margin: 20px auto;
    background-color: #fefefe;
}

.file-input {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.dropzone-text {
    color: #213547;
    font-size: 1.125rem;
    pointer-events: none;
}

.styled-output {
    white-space: pre-wrap;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    text-align: left;
    padding: 16px;
}

.styled-output .highlight {
    background-color: yellow;
    text-decoration: underline;
    font-weight: bold;
}

