div.list{
    position: absolute;
    top: 5%;
    height: 90%;
    right: -255px;
    z-index: 0;
    width: 250px;
    background-color : #eee;
    border-radius: 0 15px 15px 0;
    pointer-events: auto;
    transition: .4s;
}
.scroll-list{
    overflow-y: scroll;
    height: 90%;
}
div.list>.scroll-list>ul{
    height: 80%;
    list-style: none;
    padding: 0;
    margin: 0;
}
div.list>.scroll-list>ul>h4{
    margin: 10px;
}
div.list>.scroll-list>ul>li{
    display: flex;
    justify-content: space-between;
    margin: 4px 20px;
    padding: 4px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #444;
    cursor: pointer;
}
div.list>.scroll-list>ul>div>span>input{
    width: 100px;
}

div.handler{
    position: absolute;
    right: -40px;
    top: 40px;
    width: 40px;
    height: 40px;
    background-color: #eee;
    border-radius: 0 5px 5px 0;
    border: 1px solid #676767;
    border-left: 0;
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
}
div.handler>.arrow{
    height: 30px;
    margin: 5px;
    rotate: 0;
    transition: .4s;
}
div.handler>.arrow>svg{
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.add{
    width: 100px;
}